<%- include('../partials/header') %>

<form action="/review/<%= review._id %>?_method=PUT" method="POST">
    <input name="text" value="<%= review.text %>">
    <button type="submit">UPDATE COMMENT</button>
  </form>