.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

nav {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    color: red;
    padding: 8px;
    background-color: black;
}
